.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.placeholder {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--content);
  border-radius: var(--primary-radius);
  padding: 64px;
}

@media screen and (max-width: 900px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}
